---
import Layout from "~/layouts/PageLayout.astro";
import Header from "~/components/widgets/Header.astro";
import Hero2 from "~/components/widgets/Hero2.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Content from "~/components/widgets/Content.astro";
import Button from "~/components/ui/Button.astro";
import Image from "~/components/common/Image.astro";
import appStoreImg from "~/assets/images/app-store.png";
import googlePlayImg from "~/assets/images/google-play.png";
import i18next, { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");

const appStoreDownloadLink = "https://github.com/onwidget/astrowind";
const googlePlayDownloadLink = "https://github.com/onwidget/astrowind";
const getImg = () => {
    if (i18next.language === "en")
        return "~/assets/images/theory-en-image.png";
    if (i18next.language === "fr")
        return "~/assets/images/theory-fr-image.png";
    if (i18next.language === "uk")
        return "~/assets/images/theory-uk-image.png";
};
const metadata = {
    title: t("appname.title"),
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'About', href: '/about' },
        { text: 'Privacy', href: '#' },
      ]} 
        }
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    image={{
      src: '~/assets/images/quiz-image.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent highlight">{t("appname.title")}</span> <br /> 
      <span class="text-accent-2 dark:text-white">{t("appname.subtitle")}</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <Trans i18nKey="appname.description1">
          Unlock the world of musical harmony with <b class="text-accent">Harmony Game</b>.
        </Trans>
      </span>
      {t("appname.description2")}
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>



  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: t("innovative.title"),
        description:
          t("innovative.description"),
        icon: 'tabler:artboard',
      },
      {
        title: t("graph.title"),
        description:
          t("graph.description"),
        icon: 'tabler:pentagon',
      },
      {
        title: t("simple.title"),
        description:
          t("simple.description"),
        icon: 'tabler:star',
      },
      {
        title: t("offline.title"),
        description:
          t("offline.description"),
        icon: 'tabler:wifi-off',
      },
    ]}
    image={{
      src: getImg(),
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{t("features.title")}</h3>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title={t("action.title")}
    subtitle={t("action.description")}
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
