---
import Layout from "~/layouts/PageLayout.astro";
import Header from "~/components/widgets/Header.astro";
import Hero2 from "~/components/widgets/Hero2.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Content from "~/components/widgets/Content.astro";
import Button from "~/components/ui/Button.astro";
import Image from "~/components/common/Image.astro";
import appStoreImg from "~/assets/images/app-store.png";
import googlePlayImg from "~/assets/images/google-play.png";
import testImg from "~/assets/images/test.png";
import { t, changeLanguage } from "i18next";

changeLanguage("en");

const appStoreDownloadLink = "https://github.com/onwidget/astrowind";
const googlePlayDownloadLink = "https://github.com/onwidget/astrowind";
const metadata = {
    title: "Mobile App Homepage",
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Services', href: '#' },
        { text: 'Features', href: '#' },
        { text: 'About', href: '#' },
      ]}
      actions={[
        {
          text: 'Download',
          href: '#download',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Mobile App Web Demo"
    image={{
      src: '~/assets/images/test3.png',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">AstroWind App</span>: <br /> professional websites <span
        class="hidden xl:inline">made easy</span
      >
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Unlock boundless creativity at your fingertips: your gateway to innovative design.
      </span>
       Download now and embark on a journey to elevate your projects like never before.
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </Hero2>



  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: t("innovative.title"),
        description:
          t("innovative.description"),
        icon: 'tabler:artboard',
      },
      {
        title: t("graph.title"),
        description:
          t("graph.description"),
        icon: 'tabler:pentagon',
      },
      {
        title: t("simple.title"),
        description:
          t("simple.description"),
        icon: 'tabler:star',
      },
      {
        title: t("offline.title"),
        description:
          t("offline.description"),
        icon: 'tabler:wifi-off',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    id="download"
    title="Download our app now!"
    subtitle="Access a variety of stunning templates, simplify your creative process, and elevate your online presence."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction>
</Layout>
